<div class="row">
    <div class="col-md-auto">
        <button class="btn btn-success" (click)="OpenContactForm()">
            <i class="fa fa-plus"></i>  Add New Contact
        </button>
    </div>
</div>

<table class="table">
    <tr>
        <td class="text-left">
            Firstname
        </td>
        <td class="text-left">
            Lastname
        </td>
        <td class="text-left">
            Email
        </td>
        <td class="text-left">
            Phone Number
        </td>
    </tr>
    <tr *ngFor="let contact of contacts">
        <td class="text-left">
            <a (click)="edit(contact)">
                {{contact.firstname}}
                <!--<span *ngIf="contact!==editContact">{{contact.firstname}}</span>-->
                <!--<span *ngIf="contact===editContact" [(ngModel)]="contact.firstname" (blur)="update()" (keyup.enter)="update()"></span>-->
            </a>
        </td>
        <td class="text-left">
            {{contact.lastname}}
        </td>
        <td class="text-left">
            {{contact.email}}
        </td>
        <td class="text-left">
            {{contact.phone}}
        </td>
        <td class="text-right">
            <button class="btn btn-secondary" (click)="OpenContactFormView(contact)">
                <i class="fa fa-eye"></i> View
            </button>
        </td>
        <td class="text-right">
            <button class="btn btn-warning" (click)="OpenContactForm(contact)">
                <i class="fa fa-pencil"></i> Edit
            </button>
        </td>
        <td class="text-right">
            <button class="btn btn-danger" (click)="delete(contact)">
                <i class="fa fa-trash"></i> Delete
            </button>
        </td>
    </tr>
</table>
