<h4 class="display-6 text-center">Add New Contact</h4>
<form #form="ngForm" class="form" (submit)="add(firstname.value, lastname.value, email.value, phone.value);">
    <div class="form-group">
        <input name="firstname" #firstname type="text" [(ngModel)]="formData.firstname"  class="form-control" placeholder="Firstname">
    </div>
    <div class="form-group">
        <input name="lastname" #lastname type="text" [(ngModel)]="formData.lastname"  class="form-control" placeholder="Lastname">
    </div>
    <div class="form-group">
        <input name="email" #email type="email" [(ngModel)]="formData.email"  class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <input name="phone" #phone type="text" [(ngModel)]="formData.phone"  class="form-control" placeholder="Phone Number">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Submit</button>
        <button type="button" class="btn btn-secondary" [mat-dialog-close] ><i class="fa fa-close"></i>Close</button>
    </div>
</form>
